<!DOCTYPE html>
<html>
	<head>
		<title>Gourmet food tasting</title>
		<link rel="stylesheet" href="/assets/css/main.css">
		<style type="text/css"></style>
		<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

	</head>
	<body>
		{{>header}}
		{{>@partial-block}}
		{{>footer}}
	</body>

	<script data-main="/assets/js/main.js" src="/assets/vendor/requirejs/require.js"></script>
</html>