<div class="panel-wrapper dark">
	<div class="panel">
		<div>© 2016 Gourment foot tasting</div>
		<div>Great stock photos thanks to <a href="http://www.pexels.com/">pexels.com</a></div>
	</div>
</div>