.jumboslider {
	@extend .owl-carousel;

	.slide {
		height: 80vh;
		min-height: 600px;
		background-color: #f00;
		background-size: cover;
		background-position: center center;
	}

	&:before {
		content: '';
		@include full();
		background: linear-gradient(to bottom, rgba($black, .8) 3%, rgba($black, 0) 30%);
		z-index: 5;
		pointer-events: none;
	}

	// modifiers
	&.short {
		.slide {
			height: 40vh;
			min-height: 400px;
		}
	}
}