.jumboslider {
	@extend .owl-carousel;
	height: 80vh;
	min-height: 600px;
	display: block !important;

	.slide {
		height: 80vh;
		min-height: 600px;
		background-size: cover;
		background-position: center center;
		display: none;

		&:first-child {
			display: block;
		}
	}

	&:before {
		content: '';
		@include full();
		background: linear-gradient(to bottom, rgba($black, .8) 3%, rgba($black, 0) 30%);
		z-index: 5;
		pointer-events: none;
	}

	// modifiers
	&.short {
		height: 40vh;
		min-height: 400px;

		.slide {
			height: 40vh;
			min-height: 400px;
		}
	}
}