{{#>body}}

	{{>slider slider_context}}

	<div class="panel-wrapper color">
		<div class="panel">
			<div class="row masonry">
				{{#each testimonials}}
					<div class="col-md-4">
						<div class="card">
							<div class="card-body fixed" style="background-image:url('{{image}}')"></div>
							<div class="card-body">
								<h2>{{title}}</h2>
								<p>{{text}}</p>
							</div>
						</div>
						<div class="wedge-2x"></div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>

{{/body}}